[user]
	name = Dmitriy Kiyatkin
	email = dkiyatkin@gmail.com
[github]
	user = dkiyatkin
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	history = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = nvim
[instaweb]
	httpd=webrick
