/*

!/.bin/
!/.config/
!/.goldendict/
!/.local/

/.config/*
/.goldendict/*
/.local/*

!/.config/nvim/
!/.config/sxhkd/

# differents

# display configuration and applets
/.local/share/kscreen/
/.config/plasma-org.kde.plasma.desktop-appletsrc
/.config/plasmashellrc
/.config/kscreenlockerrc
/.config/powermanagementprofilesrc
