.config/autostart/*

.config/chromium/
.config/pulse/cookie
.config/session/
.config/systemsettingsrc

.local/share/RecentDocuments/
.local/share/TelegramDesktop/
.local/share/Trash/
.local/share/kactivitymanagerd/
.local/share/klipper/
.local/share/kscreen/
.local/share/nvim/
