/*

!/.bin/
!/.config/
!/.goldendict/
!/.local/

/.config/*
/.goldendict/*
/.local/*

!/.config/nvim/

# differents

# display configuration
/.local/share/kscreen/

# applets
/.config/plasma-org.kde.plasma.desktop-appletsrc
~/.config/plasmashellrc
